.footer {
    background: linear-gradient(135deg, #fb923c, #f97316);
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

.links {
    margin-top: '0.5rem';
    display: 'flex';
    justify-content: 'center';
    gap: '1rem';
}