.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10rem 13rem;
  gap: 5rem;
  flex-wrap: wrap; /* permet le responsive */
}

/* Image */
.section-image {
  width: 730px;
}

.section-image img {
  width: 100%;
  /* max-width: 700px; */
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  object-fit: cover;
}

/* Texte */
.section-text {
  flex: 1;
  height: 490px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.section-text h2 {
  margin-top: 0px;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2c2c2c;
}

.section-text p {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #555;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

.section-text .btn-primary {
  width: 36%;
}

/* Responsive */
@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
    text-align: center;
  }

  .section-text {
    margin-top: 1.5rem;
  }
}
