/* NosPlats.css */

/* ====== Container principal ====== */
.nosplats-container {
  --bg-img: none;
  background-color: #fffbeb;
  padding: 3rem 13rem;
  position: relative;
  overflow: hidden;
}

/* Image de fond en pseudo-élément */
.nosplats-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 5;
  z-index: 1;
  pointer-events: none;
}

/* ====== Wrapper (contenu) ====== */
.nosplats-wrapper {
  position: relative; 
  z-index: 2;
  color: #ffffff;
}

/* ====== Titre ====== */
.nosplats-title {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 48px;
  margin-top: 0px;
}

/* ====== Grille des cartes ====== */
.nosplats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  margin-bottom: 48px;
}

/* ====== Carte d’un plat ====== */
.nosplats-card {
  border-radius: 18px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  background: rgba(230, 225, 221, 0.048);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 2px #1b1b1b, inset 1.2px 1.3px 5px #c0b5b599, 0px -3px 19px #0c0c0c27, 0px -12px 19px #0e0e0e1e;
}

/* Image du plat */
.nosplats-image-container {
  margin-bottom: 20px;
}

.nosplats-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 12px;
}

/* ====== Infos plat ====== */
.nosplats-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.nosplats-description {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.nosplats-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ====== Boutons ====== */
.nosplats-button {
  font-weight: 600;
  width: 55%;
}

/* ====== Footer ====== */
.nosplats-footer {
  text-align: center;
}

.nosplats-footer .nosplats-button {
  width: 10%;
}
