.connexion-container-content {
    background: url(../../../assets/background.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 45%;
    padding: 12rem 12rem;
    display: flex;
    justify-content: center;
}

.register-form {
    background-color: #FFF;
    padding: 3rem 4rem;
    width: 18%;
    display: flex;
    border-radius: 12px;
    flex-wrap: wrap;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}

.connexion-container-content h2 {
    width: 100%;
    margin-top: 0px;
    text-align: center;
}