.header {
    position: fixed;
    top: 0;
    padding: 1.6rem 2rem;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
    background-color: transparent;
}

.header.scrolled {
    background: linear-gradient(135deg, #fb923c, #f97316); /* ou autre couleur */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: white;
}

.header.scrolled .nav-link {
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.contact-btn {
    font-size: 1.2rem;
    background-color: #f97316;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-btn.scrolled {
    background-color: #FFF;
    color: #f97316;
}

.nav-link:hover {
    color: #f97316;
    text-underline-offset: 0.2rem;
    text-decoration: underline;
}